body {
  background-color: rgb(0,0,0);
  color: rgb(255, 255, 225);
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0);
  }
}
